.connection_page{
    background: #202624;

}

.block-title{
    padding-top: 30px;
    position: relative;
    margin-bottom: 60px;
    .connect-title{
        margin-top: 15px;
        text-align: center;
        // position: absolute;
        // left: 0;
        // right: 0;
        color: white;
    }
    
    .bar-1{
        position: absolute;
        right: 10px;
        top: 30px;
        width: 60px;
    }
    .bar-2{
        position: absolute;
        right: 20px;
        top: 63px;
        width: 60px;

    }
    .bar-3{
        position: absolute;
        right: 5px;
        top: 67px;
        width: 50px;

    }
    
}


.block-connection{
    margin: 30px auto 0px auto;
    .fb-connect{
        margin-bottom: 30px;
        .fb-logo{
            text-align: center;
            margin: auto;

            img{
                max-width: 100%;
                background: white;
                border-radius: 50%;
                border: 1px solid #00DB9C;
            }
        }
        .text{
            padding: 20px;
        }
    }

    .mail,.pswd{
        min-width: 100%;
   

    }
}



.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
}

button{
    margin: auto;
    background-color: #00DB9C;
    border-radius: 50px;
    color: #202624;
    margin-bottom: 20px;
}

// .wave{
//     position: absolute;
//     min-width: 100%;
//     background: #202624;
//     bottom: -8px;
//     overflow: hidden;
//     margin-bottom: -5px
//     svg{
//         // position: absolute;
//         // background: #202624;
//         // margin-bottom: -15px;
//     }

// }