<div class="connection_page">

  <div class="block-title">
    <p class="connect-title">
      Devenez un greener !
    </p>

    <svg class="bar bar-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 76.532 85.706">
      <defs>
        <style>
          .cls-1 {
            fill: url(#linear-gradient);
          }
        </style>
        <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#86c5a8"/>
          <stop offset="1" stop-color="#ffaebe"/>
        </linearGradient>
      </defs>
      <rect id="Rectangle_35" data-name="Rectangle 35" class="cls-1" width="104" height="11" rx="5.5" transform="translate(0 78.49) rotate(-49)"/>
    </svg>

    <svg class="bar bar-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 76.532 85.706">
      <defs>
        <style>
          .cls-1 {
            fill: url(#linear-gradient);
          }
        </style>
        <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#86c5a8"/>
          <stop offset="1" stop-color="#ffaebe"/>
        </linearGradient>
      </defs>
      <rect id="Rectangle_35" data-name="Rectangle 35" class="cls-1" width="104" height="11" rx="5.5" transform="translate(0 78.49) rotate(-49)"/>
    </svg>

    <svg class="bar bar-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 76.532 85.706">
      <defs>
        <style>
          .cls-1 {
            fill: url(#linear-gradient);
          }
        </style>
        <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#86c5a8"/>
          <stop offset="1" stop-color="#ffaebe"/>
        </linearGradient>
      </defs>
      <rect id="Rectangle_35" data-name="Rectangle 35" class="cls-1" width="104" height="11" rx="5.5" transform="translate(0 78.49) rotate(-49)"/>
    </svg>
  
  </div>
  
  <div class="example-container">

  </div>
  
  <div class="block-connection">
    <div class="container">
      <div class="fb-connect">
        <div class="row">
          <a class="fb-logo col-3"><img src="../../../assets/icons/facebok-logo.png" alt=""></a>
          <a class="col-9 text" href="#" (click)="socialSignIn('facebook')" routerLink="/events"><span>Se conecter avec Facebook</span></a>
        </div>
      </div>
  
      <mat-form-field class="mail">
        <input class="mail-input" matInput placeholder="Identifiant">
      </mat-form-field>
    
      <mat-form-field class="pswd">
        <textarea style="color:white;" class="pswd-input" matInput placeholder="Mot de passe"></textarea>
      </mat-form-field>


      <div class="row">
        <button type="button" class="btn btn-primary btn-sm" routerLink="/events">connexion</button>
      </div>
  
    </div>
  </div>

  <div class="wave">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 374.152 215.381">
      <defs>
        <style>
          .cls-5 {
            fill: url(#linear-gradientbottom);
          }
        </style>
        <linearGradient id="linear-gradientbottom" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#00ffb6"/>
          <stop offset="1" stop-color="#00805b"/>
        </linearGradient>
      </defs>
      <g id="Groupe_19" data-name="Groupe 19" transform="translate(-949.389 -1334.394)">
        <g id="Groupe_17" data-name="Groupe 17" transform="translate(946.605 1334.174)">
          <path id="Tracé_2" data-name="Tracé 2" class="cls-5" d="M376.593,208.668c-241.978.661-373.809-.4-373.809-.4V76.018c177.4,287.045,299.845-269.063,352.519,0,7.518,38.338,14.435,67.458,21.29,92.461C376.91,170.372,377.171,208.182,376.593,208.668Z" transform="translate(0 0.016)"/>
        </g>
        <g id="Groupe_18" data-name="Groupe 18" transform="matrix(0.999, 0.035, -0.035, 0.999, 951.879, 1546.733)">
          <path id="Tracé_3" data-name="Tracé 3" class="cls-5" d="M106.826,120.424C181.083,41.872,243.162-33.459,288.62,87.771c3.605,9.59,7.184,18.646,10.8,27.325C138.279,120.569,147.215,120.154,106.826,120.424Z" transform="translate(49.24 -129.556)"/>
        </g>
      </g>
    </svg>
  </div>

</div>
