.page-info-content{
    min-height: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
    padding-bottom: 70px;

    .block-info{
        margin: 20px;
        background: white;
        border-radius: 140px;
        padding: 70px 30px 30px 30px;
        .text-info{
            text-align: justify;    
            color: #202624 !important;
        
        }
        button{
            margin: auto;
            background-color: #00DB9C;
            border-radius: 50px;
            color: #202624;
            margin-bottom: 20px;
            border-color: #00DB9C;
            padding: 5px 30px 5px 30px;
        }
    }

    .svg-element{
        .bar{
            width: 60px;
            position: absolute;
        }
        .bar-1{
            right: 30px;
            top: 60px
        }
        .bar-2{
            right: 40px;
            top: 100px;
        }
        .bar-3{
            right: -20px;
            top: 60px;
        }
        .bar-4{
            left: -30px;
            bottom: 30px;
        }
        .bar-5{
            left: 10px;
            bottom: 50px;
        }
        .bar-6{
            left: 10px;
            bottom: 20px;
        }

        .circle{
            position: absolute;
            background: #FFAEBE;
            border-radius: 50%;
        }
        .circle-1,.circle-2,.circle-3{
            width: 20px;
            height: 20px;
            
        }
        .circle-1{
            left: 40px;
        }
        .circle-2{
            bottom: 15px;
            left: 30px;
        }
        .circle-3{
            right: 35px;
            top: 170px;
        }
        .circle-4{
            width: 15px;
            height: 15px;
            right: 80px;
            bottom: 60px;
        }
        .circle-5{
            width: 10px;
            height: 10px;
            right: 100px;
            bottom: 50px;
        }
        .litlebar{
            height: 5px;
            width: 40px;
            background: #FFAEBE;
            border-radius: 2.5px;
            position: absolute;
        }
        .litlebar-1{
            transform: rotate(-30deg);
            right: 100px;
        }
        .litlebar-2{
            transform: rotate(-115deg);
            right: 30px;
            bottom: 35px;
            width: 25px;
        }

    }
    
}

.phrase-accroche {
  font-family: Roboto;
  color: white;
}
