<mat-drawer-container class="example-container" autosize>
  <mat-drawer id="sidenav" #drawer class="example-sidenav" mode="side">
    <button type="button" mat-button (click)="drawer.toggle()">
      <i class="material-icons">
      chevron_right
      </i>
    </button>
    <div class="sidebar-content">
      <img src="../assets/images/profil.png" class="img-circle" alt="Cinque Terre">
      <h5 id="name">Arthur Charlan</h5>
      <ul>
        <li><img src="../assets/icons/profile.png" width="20px">Mon Profil</li>
        <li><img src="../assets/icons/ninja.png" width="20px">Ninja</li>
        <li><img src="../assets/icons/explorer.png" width="20px">Explorer</li>
        <li><i class="material-icons">school</i>Me Former</li>
        <li><i class="material-icons">add</i>En savoir plus</li>
        <li id="separate"><i class="material-icons">settings</i>Paramètres</li>
        <li><i class="material-icons">help</i>Aide</li>
        <li><i class="material-icons">power_settings_new</i>Déconnexion</li>
      </ul>
    </div>
  </mat-drawer>

  <div class="header">
    <div id="header">
      <button type="button" mat-button (click)="drawer.toggle()"><i class="material-icons">
        menu
      </i></button>
    </div>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

