.example-sidenav-content {
  position: relative;
}

.example-sidenav {
  position: fixed !important;
}

i {
  color: white;
}

#header {
  background-image: url("../assets/background/header.png");
  height: 100px;
  background-size: 460px;
}

button {
  margin-left: 10px;
  margin-top: 20px;
  i {
    color: #A7B6B1;
    font-size: 40px;
  }
}

#sidenav {
  background: linear-gradient(#68ECB5, #F2D3EC);
}

router-outlet {
  overflow: hidden;
}

.sidebar-content {
  margin-top: 20px;
  text-align: center;
}

.img-circle {
  margin: 30px;
}

name {
  color: #707070;
  font-family: Roboto;
}

ul {
  margin-top: 20px;
  li {
    margin-left: 20px;
    text-align: left;
    font-family: Roboto;
    margin-bottom: 4px ;
  }
  i, img {
    color: black;
    margin-right: 4px;
  }
}

#separate {
  margin-top: 80px;
}
