<div class="circle circle-1"></div>
<div class="circle circle-2"></div>
<div class="circle circle-3"></div>
<div class="circle circle-4"></div>
<div class="circle circle-5"></div>
<div class="litlebar litlebar-1"></div>
<div class="litlebar litlebar-2"></div>


<h5 class="title">A toi de choisir ton évènement !</h5>

<div id="custom-search-input">
  <div class="input-group">
    <input type="text" class="search-query form-control" placeholder="Rechercher un évènement..."/>
    <span class="input-group-btn">
                        <button type="button" disabled>
                            <i class="material-icons">search</i>
                        </button>
                    </span>
  </div>
</div>

<ul class="list-evenement">
  <li class="evenement" routerLink="/choose-profil"><label>La fête de la pomme noisette</label></li>
  <li class="evenement" routerLink="/choose-profil"><label>Les Vieilles Charrues</label></li>
  <li class="evenement" routerLink="/choose-profil"><label>Les nuits de l'Erdre</label></li>
  <li class="evenement" routerLink="/choose-profil"><label>Le festival de l'Huma</label></li>
  <li class="evenement" routerLink="/choose-profil"><label>Main Square Festival</label></li>
</ul>
