/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body, mat-drawer-container {
  background-color: #202624 !important;
}

ul {
  list-style:none;
  margin-left:0;
  padding-left:0;
}
li {
  margin-bottom:15px;/* à adapter */
}




.mat-form-field-empty.mat-form-field-label {
  color: white;
}

.mat-form-field-underline {
  background-color: white !important;
}
