
    
 
<div class="choose-profil-content">
  <div class="container">
    
    <div class="choose-block">
      <button class="choose choose-1">
        <div class="row">
          <div class="logo col-4">
            <img src="../../assets/icons/ninjaperso.png" alt="">
          </div>
          <span class="col-8">grenn ninga</span>
        </div>
      </button>
      <button class="choose choose-2">
        <div class="row">
          <div class="logo col-4">
            <img src="../../assets/icons/Explorerperso.png" alt="">
          </div>
          <span class="col-8">green explorer</span>
        </div>
      </button>
    </div>
  </div>
  <span class="choose-title">Choisis ton camps</span>
  <div class="circle circle-1"></div>
  <div class="circle circle-2"></div>
  <div class="circle circle-4"></div>
  <div class="circle circle-5"></div>
  <div class="circle circle-6"></div>
  <div class="litlebar litlebar-1"></div>
  <div class="litlebar litlebar-2"></div>
  <div class="litlebar litlebar-3"></div>


  <div class="wave">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 375.082 171.713">
        <defs>
          <style>
            .cls-1 {
              fill: url(#linear-gradient);
            }
          </style>
          <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
            <stop offset="0" stop-color="#00ffb6"/>
            <stop offset="1" stop-color="#00805b"/>
          </linearGradient>
        </defs>
        <g id="Groupe_50" data-name="Groupe 50" transform="translate(-49 -73.983)">
          <g id="Groupe_1" data-name="Groupe 1" transform="translate(49 73.983)">
            <path id="Tracé_2" data-name="Tracé 2" class="cls-1" d="M375.082,171.7c-287.973-1.414-187.06-1.811-199.04-27.881C127.142,3.859,427.083,180.737,0,170.553V46.988c112.629,182.239,192.133-169.554,225.574,1.268C252.815,187.169,293.427,176.891,375.082,148.9,374.968,171.259,374.947,79.952,375.082,171.7Z" transform="translate(0 0.017)"/>
            <path id="Tracé_77" data-name="Tracé 77" class="cls-1" d="M375.082,171.7c-287.973-1.414-187.06-1.811-199.04-27.881C127.142,3.859,427.083,180.737,0,170.553V46.988c112.629,182.239,192.133-169.554,225.574,1.268C252.815,187.169,293.427,176.891,375.082,148.9,374.968,171.259,374.947,79.952,375.082,171.7Z" transform="translate(0 0.017)"/>
          </g>
          <g id="Groupe_2" data-name="Groupe 2" transform="translate(38 122.715)">
            <path id="Tracé_3" data-name="Tracé 3" class="cls-1" d="M159.554,146.061c-17.695-.813,11.122-.31-68.223-.536C157.42,73.769,203.356-55.508,218.84,73.352c5.916,29.76,12.165,53.659,18.973,72.709C237.814,146.061,164.584,146.027,159.554,146.061Z" transform="translate(0 -24.234)"/>
          </g>
          <g id="Groupe_47" data-name="Groupe 47" transform="translate(49 73.983)">
            <path id="Tracé_2-2" data-name="Tracé 2" class="cls-1" d="M375.082,171.7c-287.973-1.414-187.06-1.811-199.04-27.881C127.142,3.859,427.083,180.737,0,170.553V46.988c112.629,182.239,192.133-169.554,225.574,1.268C252.815,187.169,293.427,176.891,375.082,148.9,374.968,171.259,374.947,79.952,375.082,171.7Z" transform="translate(0 0.017)"/>
            <path id="Tracé_77-2" data-name="Tracé 77" class="cls-1" d="M375.082,171.7c-287.973-1.414-187.06-1.811-199.04-27.881C127.142,3.859,427.083,180.737,0,170.553V46.988c112.629,182.239,192.133-169.554,225.574,1.268C252.815,187.169,293.427,176.891,375.082,148.9,374.968,171.259,374.947,79.952,375.082,171.7Z" transform="translate(0 0.017)"/>
          </g>
          <g id="Groupe_48" data-name="Groupe 48" transform="translate(38 122.715)">
            <path id="Tracé_3-2" data-name="Tracé 3" class="cls-1" d="M159.554,146.061c-17.695-.813,11.122-.31-68.223-.536C157.42,73.769,203.356-55.508,218.84,73.352c5.916,29.76,12.165,53.659,18.973,72.709C237.814,146.061,164.584,146.027,159.554,146.061Z" transform="translate(0 -24.234)"/>
          </g>
        </g>
      </svg>
      
  </div>
</div>